<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Fontawesome  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-2/LsDjJtqo3t0dmc1UiEO/xCc3OeEovKYh1L13Avwt+XlOgeWLfCjvZ8AiaWtIc+W+92itFZZdQr8hTFWbsH9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Custom CSS -->
  <style>
    body {
      background-color: #F8F9FA;
    }
    
    .error {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    
    .error h1 {
      font-size: 10rem;
      font-weight: 700;
      margin-bottom: 0;
      color: #F25F5C;
      text-shadow: 2px 2px #DE3C3C;
    }
    
    .error h2 {
      font-size: 3rem;
      font-weight: 500;
      margin-top: 0;
      color: #F25F5C;
    }
    
    .error p {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 20px;
      color: #4D4D4D;
      font-family: 'Franklin Gothic Medium';
      font-style: italic;
    }
    .error a{
        color: #FFFFFF;
    }
    .btn-pizza {
      background-color: #FFA400;
      border: none;
      color: #FFFFFF;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 12px 24px;
      border-radius: 50px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
    }
    
    .btn-pizza:hover {
      background-color: #F25F5C;
      cursor: pointer;
    }
    
    @media (max-width: 576px) {
      .error h1 {
        font-size: 6rem;
      }
      
      .error h2 {
        font-size: 2rem;
      }
      
      .error p {
        font-size: 1rem;
      }
      
      .btn-pizza {
        font-size: 1rem;
        padding: 8px 16px;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error">
          <h1>404</h1>
          <h2>Page Not Found</h2>
          <p>We and your pizzas are missing you.<br> Where are you lost?</p>
          <a href="/" class="btn btn-pizza">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap JS -->

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>

